/*
    Author: Maxwell Rosenthal
    Assignment: Final Project
    Course: CS-376: Javascript
    Date: March 27, 2022
    Description: CSS formatting to be applied to the Final-Project.html file.
 */

body { background-color:darkgreen; } /* Make the body of the webpage maroon. */

#banner
{
    display: block; /* Used for centering. */
    margin-left: auto; /* Used for centering. */
    margin-right: auto; /* Used for centering. */
    margin-bottom: 10px; /* Add a margin between the banner and what is below. */
} /* End #banner. */

div#cardGrid
{
    margin-left: auto; /* Used for centering. */
    margin-right: auto; /* Used for centering. */
    width: fit-content; /* Make the background color span only what is necessary. */
    background-color: rgb(30, 30, 30); /* Make the cardGrid backdrop dark grey. */
    padding: 0.5em; /* Add padding to the card grid. */
} /* End div#cardGrid. */

div#playerText
{
    width: 725px; /* Establish a margin for the two hands */
    margin: auto; /* Center the margin of the two hands. */
} /* End div#playerText. */

div#playerOneTextDiv
{
    width: fit-content; /* Make the background color span only what is necessary. */
    float: left; /* Float playerOneHand to the left */
} /* End div#playerOneTextDiv. */

div#playerTwoTextDiv
{
    width: fit-content; /* Make the background color span only what is necessary. */
    float: right; /* Float playerOneHand to the left */
} /* End div#playerTwoTextDiv. */

div#playerHands
{
    width: 1000px; /* Establish a margin for the two hands */
    margin: auto; /* Center the margin of the two hands. */
} /* End div#playerHands. */

div#playerOneHand
{
    width: fit-content; /* Make the background color span only what is necessary. */
    background-color: rgb(30, 30, 30); /* Used for centering. */
    padding: 0.5em; /* Add padding to the card grid. */
    float: left; /* Float playerOneHand to the left */
} /* End div#playerOneHand. */

div#playerTwoHand
{
    width: fit-content; /* Make the background color span only what is necessary. */
    background-color: rgb(30, 30, 30); /* Used for centering. */
    padding: 0.5em; /* Add padding to the card grid. */
    float: right; /* Float playerTwoHand to the left */
} /* End div#playerTwoHand. */

h1 { text-align: center; } /* Center h1. */

h2
{
    margin-left: auto; /* Used for centering. */
    margin-right: auto; /* Used for centering. */
    width: 60px; /* Make the background color span only what is necessary. */
    text-align: center; /* Center the text on the butotn */
    color: rgb(222, 0, 0); /* Change the text color to red. */
    background-color: rgb(30, 30, 30); /* Make the pass button dark grey. */
    padding: 3px; /* Pad the button. */
} /* End h2. */

#passButton { margin-top: 45px; } /* Add a margin to the top of the pass button. */

h2:hover { color: rgba(222, 0, 0, 0.5); } /* Change the h2's text color to half opacity red on hover. */

.playerTurn { color: rgb(222, 0, 0); } /* Change the text color to red. */

.card
{
    display: block; /* Used for centering. */
    margin-left: auto; /* Used for centering. */
    margin-right: auto; /* Used for centering. */
    padding: 5px; /* Add padding between the cards. */
} /* End .card. */

.card:hover { filter: opacity(50%); } /* CSS that makes a card semi-transparent when hovered over. */

.cardSelected
{
    display: block; /* Used for centering. */
    margin-left: auto; /* Used for centering. */
    margin-right: auto; /* Used for centering. */
    padding: 5px; /* Add padding between the cards. */
    filter: sepia() invert(); /* Make the card sepia and invert it to indicate that a card is selected. */
} /* End .cardSelected. */

.cardSelected:hover { filter: sepia() invert() opacity(50%); } /* Makes a card semi-transparent when hovered over. */

.handCard
{
    display: block; /* Used for centering. */
    margin-left: auto; /* Used for centering. */
    margin-right: auto; /* Used for centering. */
    padding: 5px; /* Add padding between the cards. */
} /* End .handCard. */

.handCardOpaque
{
    display: block; /* Used for centering. */
    margin-left: auto; /* Used for centering. */
    margin-right: auto; /* Used for centering. */
    padding: 5px; /* Add padding between the cards. */
    filter: opacity(50%); /* Makes a card semi-transparent. */
} /* End .handCardOpaque. */
